<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> UENR | CAFETARIA </title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css" integrity="sha512-siwe/oXMhSjGCwLn+scraPOWrJxHlUgMBMZXdPe2Tnk3I0x3ESCoLz7WZ5NTH6SZrywMY+PB1cjyqJ5jAluCOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'css/feather.css' %}">

  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
  <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme" disabled>

  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>
<body>
    
  <div class="{% block hero_area %}{% endblock hero_area %}">
    {% block hero_img %}

    {% endblock hero_img %}

    {% block navbar %}
    <div class="container-fluid fixed-top">
      <nav class="navbar navbar-expand-lg custom_nav-container p-0 pl-3">
        <a href="#" class="navbar-toggler" type="button" data-toggle="modal" data-target=".mobile_nav">
          <span> </span>
        </a>

        {% if user.is_staff %}
        <a class="navbar-brand m-0" href="{% url 'dashboard' %}"><span class="fs-6">UENR CAFETERIA</span></a>
        {% else %}
        <a class="navbar-brand m-0" href="{% url 'home' %}"><span class="fs-6">UENR CAFETERIA</span></a>
        {% endif %}


        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto d-lg-flex pl-0 pt-3 p-lg-0">
            <li class="nav-item mb-2 mb-lg-0 {% block home_active %}{% endblock home_active %}">
              <i class="nav-icon fa fa-home d-lg-none text-white"></i>
              <a class="nav-link" href="{% url 'home' %}">Home 
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item mb-2 mb-lg-0 {% block menu_active %}{% endblock menu_active %}">
              <i class="nav-icon fa fa-list d-lg-none text-white"></i>
              <a class="nav-link" href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="nav-item mb-2 mb-lg-0 {% block service_active %}{% endblock service_active %}">
              <i class="nav-icon fa fa-address-book d-lg-none text-white"></i>
              <a class="nav-link" href="{% url 'home' %}#our_service">Our Service</a>
            </li>
            <li class="nav-item mb-2 mb-lg-0">
              <i class="nav-icon fa-solid fa-utensils d-lg-none text-white"></i>
              <a class="nav-link" href="">Book Table</a>
            </li>
          </ul>

        </div>
                
        <div class="user_option mt-1">
          <!-- THEME SWITCHER -->
          <a class="nav-link text-muted m-0 mt-1" href="#" id="modeSwitcher" data-mode="dark">
          <i class="fe fe-sun fe-16"></i>
          </a>

          <a href="#" data-toggle="modal" data-target=".user-profile-modal" class="user_link p-2 m-0 mr-2 d-lg-none">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </a>
        </div>

        <div class="user_option d-none d-lg-flex">
          {% if user.is_authenticated %}
          <a class="cart_link pt-1" href="{% url 'user_cart' %}">
            <span class="text-warning position-absolute fw-bold" style="top: 6px; font-size: 10px;">{{user.user_cart.count}}</span>
            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
              <g>
                  <g>
                  <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
              c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                  </g>
              </g>
              <g>
                  <g>
                  <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
              C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
              c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
              C457.728,97.71,450.56,86.958,439.296,84.91z" />
                  </g>
              </g>
              <g>
                  <g>
                  <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
              c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                  </g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </svg>
          </a>
            
          <a class="nav-link text-muted p-0 pl-2 pr-1" href="#" data-toggle="modal" data-target=".user-profile-modal">
            <span class="avatar avatar-sm mt-2">
              <img src="{{user.profile.img.url}}" alt="..." class="avatar-img rounded-circle">
            </span>
          </a>

          {% else %}

          <a href="{% url 'login' %}" class="user_link nav-link fw-bold ms-0">
            <span>Login</span>
            <i class="fa fa-user"></i>
          </a>
          {% endif %}
        </div>
        
      </nav>
    </div>
    {% endblock navbar %}

    {% block slider_area %}

    {% endblock slider_area %}
  </div>

  <div class="mt-5 pt-3">
    {% block main_content %}
    
    {% endblock main_content %}
  </div>

  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4 class="text-warning">Contact Us</h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>UENR, Sunyani, Ghana</span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>Call +233 24 130 1463</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>uenr.cafeteria@gmail.com</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo text-warning nav-link" style="font-size: 1.8em;">UENR CAFETERIA</a>
            <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with</p>
            <div class="footer_social">
              <a href="">
                  <i class="fa fa-brands fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                  <i class="fa fa-brands fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                  <i class="fa fa-brands fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                  <i class="fa fa-brands fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                  <i class="fa fa-brands fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 footer-col">
          <h4 class="text-warning">Opening Hours</h4>
          <p>Monday  -  Friday</p>
          <p>08.00 Am  -  05.30 Pm</p>
        </div>
      </div>

      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="#">UENR CAFETARIA</a><br><br>
          <span></span> Designed By
          <a href="#" target="_blank">Leogit.Devhub</a>
        </p>
      </div>
    </div>
  </footer>

  {% include 'utils/mobile_nav.html' %}
  {% include 'utils/user_settings.html' %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/tinycolor-min.js' %}"></script>
  <script src="{% static 'js/config.js' %}"></script>
  <script src="{% static 'js/apps.js' %}"></script>
    
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>