<!doctype html>

{% load static %}
{% load admin_urls %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{% block page_title %}UENR CAFETERIA || DASHBOARD{% endblock page_title %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Icons CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/dropzone.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/uppy.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/jquery.steps.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/quill.snow.css' %}"> -->

    <!-- DATA TABLE CSS -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.css' %}"> 
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme" disabled>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

    {% block resources %}{% endblock resources %}
  </head>
  <body class="vertical dark ">
    <div class="wrapper">
      <nav class="topnav navbar bg-white navbar-light fixed-top pt-1 pb-0">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>

        <form class="form-inline mr-auto searchform text-muted">
          <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted fw-bold" type="search" placeholder="Type something..." aria-label="Search">
        </form>

        <ul class="nav"> 
            <!-- THEME SWITCHER -->
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-forms">
              <span class="fe fe-grid fe-16"></span>
            </a>
          </li>

            <!-- NOTIFICATIONS -->
          <li class="nav-item nav-notif">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
              <span class="fe fe-bell fe-16"></span>
              <span class="dot dot-md bg-info"></span>
            </a>
          </li>

          <!-- USER PROFILE -->
          <li class="nav-item">
            <a class="nav-link text-muted pr-0" href="#" data-toggle="modal" data-target=".user-profile-modal">
              <span class="avatar avatar-sm mt-2">
                <img src="{{user.profile.img.url}}" alt="..." class="avatar-img rounded-circle">
              </span>
            </a>
          </li>
        </ul>
      </nav>
      
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">

          <!-- LOGO -->
          <div class="w-100 mb-4 d-flex">
            {% if user.is_superuser %}
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center text-warning fw-bold" href="{% url 'admin:index' %}">
              {% comment %} UENR CAFETERIA {% endcomment %}
              <img src="{% static 'assets/images/LeoGiT.jpeg' %}" alt="" width="30" class="rounded">
            </a>
            {% else %}
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center text-warning fw-bold" href="{% url 'dashboard' %}">
              {% comment %} UENR CAFETERIA {% endcomment %}
              <img src="{% static 'assets/images/LeoGiT.jpeg' %}" alt="" width="30" class="rounded">
            </a>
            {% endif %}
          </div>

          <!-- DASHBOARD -->
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-home fe-16"></i>
                <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
              </a>

              <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
                <li class="nav-item active">
                  <a class="nav-link pl-3" href="{% url 'dashboard' %}"><span class="ml-1 item-text">Basic</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'dashboard_analytical' %}"><span class="ml-1 item-text">Analytical</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'dashboard_report' %}"><span class="ml-1 item-text">Report</span></a>
                </li>
              </ul>
            </li>
          </ul>
          
          <!-- DATA TABLES -->
          <p class="text-muted nav-heading mt-3 mb-1">
            <span>Records</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#profile" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-user fe-16"></i>
                <span class="ml-3 item-text">Users</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="profile">
                <a class="nav-link pl-3" href="{% url 'staff_users' %}"><span class="ml-1">Staff</span></a>
                <a class="nav-link pl-3" href="{% url 'client_users' %}"><span class="ml-1">Clients</span></a>
                <a class="nav-link pl-3" href="{% url 'users' %}"><span class="ml-1">Customers</span></a>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a href="#database_tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-layers fe-16"></i>
                <span class="ml-3 item-text">Data Tables</span><span class="sr-only"></span>
              </a>

              <ul class="collapse list-unstyled pl-4 w-100" id="database_tables">
                <li class="nav-item active">
                  <a class="nav-link pl-3" href="{% url 'all_menu' %}"><span class="ml-1 item-text">Menu</span></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'orders' %}"><span class="ml-1 item-text">Orders</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'payment' %}"><span class="ml-1 item-text">Payment</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'revenue' %}"><span class="ml-1 item-text">Revenue</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'expenses' %}"><span class="ml-1 item-text">Expense</span></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'report' %}"><span class="ml-1 item-text">Report</span></a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- APPS -->
          <p class="text-muted nav-heading mt-3 mb-1">
            <span>Apps</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'calendar' %}">
                <i class="fe fe-calendar fe-16"></i>
                <span class="ml-3 item-text">Calendar / Todos</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a href="{% url 'blank' %}" class="nav-link">
                <i class="fe fe-bell fe-16"></i>
                <span class="ml-3 item-text">Notifications</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a href="#support" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-compass fe-16"></i>
                <span class="ml-3 item-text">Help Desk</span>
              </a>

              <ul class="collapse list-unstyled pl-4 w-100" id="support">
                <a class="nav-link pl-3" href="{% url 'blank' %}"><span class="ml-1">Getting Started</span></a>
                <a class="nav-link pl-3" href="{% url 'blank' %}"><span class="ml-1">Issues / Updates</span></a>
                <a class="nav-link pl-3" href="{% url 'blank' %}"><span class="ml-1">FAQs</span></a>
              </ul>
            </li>
          </ul>
          
          <!-- EXTRA -->
          <p class="text-muted nav-heading mt-3 mb-1">
            <span>Extra</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#auth" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-shield fe-16"></i>
                <span class="ml-3 item-text">Authentication</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="auth">
                <a class="nav-link pl-3" href="{% url 'signup' %}"><span class="ml-1">Register</span></a>
                <a class="nav-link pl-3" href="{% url 'login' %}"><span class="ml-1">Login</span></a>
                <a class="nav-link pl-3" href="{% url 'admin:password_change' %}"><span class="ml-1">Reset Password</span></a>
                <a class="nav-link pl-3" href="{% url 'admin:password_change' %}"><span class="ml-1">Forget Password</span></a>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-file fe-16"></i>
                <span class="ml-3 item-text">Pages</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100 w-100" id="pages">
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'home' %}">
                    <span class="ml-1 item-text">Home</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'menu' %}">
                    <span class="ml-1 item-text">Menu</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'user_orders' %}">
                    <span class="ml-1 item-text">Orders</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'user_cart' %}">
                    <span class="ml-1 item-text">Cart</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- GETTING STARTED -->
          {% comment %} <p class="text-muted nav-heading mt-3 mb-1">
            <span>Documentation</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a class="nav-link" href="#">
                <i class="fe fe-help-circle fe-16"></i>
                <span class="ml-3 item-text">Getting Start</span>
              </a>
            </li>
          </ul> {% endcomment %}

          <div class="modal-footer w-100 mt-3">
            <a href="{% url 'menu' %}" class="btn btn-primary btn-md btn-block w-100">
              <i class="fe fe-shopping-cart fe-12 mx-2"></i><span class="small fw-bold">Sell now</span>
            </a>
          </div>
        </nav>
      </aside>

      <main role="main" class="main-content mt-5">
        <div class="container-fluid mt-3">
          <div class="row justify-content-center">
            <div class="col-12">
             
              {% block main_content %}

              {% endblock main_content %}

            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

        {% include 'notification_side_bar.html' %}
        {% include 'forms_group.html' %}
        {% include 'utils/user_settings.html' %}

      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- <script src="js/moment.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <!-- <script src="{% static 'js/daterangepicker.js' %}"></script> -->
    <!-- <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script> -->
    <!-- CHANGE THEME -->
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <!-- <script src="{% static 'js/d3.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/topojson.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/datamaps.all.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/datamaps-zoomto.js' %}"></script> -->
    <!-- <script src="{% static 'js/datamaps.custom.js' %}"></script> -->
    <!-- <script src="{% static 'js/Chart.min.js' %}"></script> -->
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <!-- <script src="{% static 'js/gauge.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/jquery.sparkline.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/apexcharts.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/apexcharts.custom.js' %}"></script> -->
    <!-- <script src="{% static 'js/jquery.mask.min.js' %}"></script> -->
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.steps.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/jquery.validate.min.js' %}"></script> -->
    <script src="{% static 'js/jquery.timepicker.js' %}"></script>
    <!-- <script src="{% static 'js/dropzone.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/uppy.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/quill.min.js' %}"></script> -->
    <script>
      $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
      $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
      $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
      $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
      /** date range picker */
      if ($('.datetimes').length)
      {
        $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
      }
      // editor
      var editor = document.getElementById('editor');
      if (editor)
      {
        var toolbarOptions = [
          [
          {
            'font': []
          }],
          [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
          {
            'header': 1
          },
          {
            'header': 2
          }],
          [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
          [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
          [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
          [
          {
            'direction': 'rtl'
          }], // text direction
          [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
          [
          {
            'align': []
          }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
      }();
    </script>
    <script src="{% static 'js/apps.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

    <!-- DATA TABLES -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
      $('#dataTable-1').DataTable(
        {
          autoWidth: true,
          "lengthMenu": [
            [16, 32, 64, -1],
            [16, 32, 64, "All"]
          ]
        });
    </script>
    
    <!-- FOR MENU -->
    <!-- <script src="js/jquery-3.4.1.min.js' %}"></script> -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- FOR CALENDAR -->
    <script src="{% static 'js/fullcalendar.js' %}"></script>
    <script src="{% static 'js/fullcalendar.custom.js' %}"></script>
    <script>
      /** full calendar */
      var calendarEl = document.getElementById('calendar');
      if (calendarEl) {
        document.addEventListener('DOMContentLoaded', function () {
          var calendar = new FullCalendar.Calendar(calendarEl,
            {
              plugins: ['dayGrid', 'timeGrid', 'list', 'bootstrap'],
              timeZone: 'UTC',
              themeSystem: 'bootstrap',
              header:
              {
                left: 'today, prev, next',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
              },
              buttonIcons:
              {
                prev: 'fe-arrow-left',
                next: 'fe-arrow-right',
                prevYear: 'left-double-arrow',
                nextYear: 'right-double-arrow'
              },
              weekNumbers: true,
              eventLimit: true, // allow "more" link when too many events
              events: 'https://fullcalendar.io/demo-events.json'
            });
          calendar.render();
        });
      }
    </script>

    <!-- FOR DATE TIME AND SELECT -->
    <script>
      $('.select2').select2(
        {
          theme: 'bootstrap4',
        });
      $('.select2-multi').select2(
        {
          multiple: true,
          theme: 'bootstrap4',
        });
      $('.drgpicker').daterangepicker(
        {
          singleDatePicker: true,
          timePicker: false,
          showDropdowns: true,
          locale:
          {
            format: 'MM/DD/YYYY'
          }
        });
      $('.time-input').timepicker(
        {
          'scrollDefault': 'now',
          'zindex': '9999' /* fix modal open */
        });
      /** date range picker */
      if ($('.datetimes').length) {
        $('.datetimes').daterangepicker(
          {
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale:
            {
              format: 'M/DD hh:mm A'
            }
          });
      }
      var start = moment().subtract(29, 'days');
      var end = moment();

      function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
      $('#reportrange').daterangepicker(
        {
          startDate: start,
          endDate: end,
          ranges:
          {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
        {
          placeholder: "__/__/____"
        });
      $('.input-zip').mask('00000-000',
        {
          placeholder: "____-___"
        });
      $('.input-money').mask("#.##0,00",
        {
          reverse: true
        });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
        {
          translation:
          {
            'Z':
            {
              pattern: /[0-9]/,
              optional: true
            }
          },
          placeholder: "___.___.___.___"
        });
      // editor
      var editor = document.getElementById('editor');
      if (editor) {
        var toolbarOptions = [
          [
            {
              'font': []
            }],
          [
            {
              'header': [1, 2, 3, 4, 5, 6, false]
            }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
            {
              'header': 1
            },
            {
              'header': 2
            }],
          [
            {
              'list': 'ordered'
            },
            {
              'list': 'bullet'
            }],
          [
            {
              'script': 'sub'
            },
            {
              'script': 'super'
            }],
          [
            {
              'indent': '-1'
            },
            {
              'indent': '+1'
            }], // outdent/indent
          [
            {
              'direction': 'rtl'
            }], // text direction
          [
            {
              'color': []
            },
            {
              'background': []
            }], // dropdown with defaults from theme
          [
            {
              'align': []
            }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
          {
            modules:
            {
              toolbar: toolbarOptions
            },
            theme: 'snow'
          });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

  </body>
</html>