
<div class="modal fade user-profile-modal modal-slide" tabindex="-1" role="dialog" aria-labelledby="user_profile_modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="user_profile_modal">User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-12 text-center">
            <div class="justify-content-center mb-3">
              <span class="avatar avatar-lg">
                <img src="{{user.profile.img.url}}" alt="..." class="avatar-img rounded-circle">
              </span>
            </div>
            <p class="h5">{{request.user}}</p>
            <span class="">{{user.email}}</span>
          </div>
        </div><hr>

        {% if user.is_authenticated %}
        {% if user.staff_user %}
        <div class="row align-items-center">
          <div class="col-12 text-center">
            <h6>{{user.staff_user.category}} ({{user.staff_user.position}})</h6>
            <span>Staff ID: {{user.staff_user.staff_id}}</span><br>
            <small></small>
          </div>
        </div><hr>
        {% endif %}

        <div class="row align-items-center pt-4">
          <a href="{% url 'user_cart' %}" class="col-6 text-center page-link bg-transparent rounded">
            <div class="d-flex bg-primary justify-content-center p-3 m-auto" style="border-radius: 1em; width: 5em;">
              <small class="position-absolute text-white ml-3" style="top: 16px;">{{user.get_user_cart_pending.count}}</small>
              <i class="p-0 fe fe-shopping-cart fe-32 align-self-center text-white"></i>
            </div>
            <p class="pt-3">Cart</p>
          </a>
          
          <a href="{% url 'user_orders' %}" class="col-6 text-center page-link bg-transparent rounded">
            <div class="d-flex bg-primary justify-content-center p-3 m-auto" style="border-radius: 1em; width: 5em;">
              <small class="position-absolute text-white ml-3" style="top: 14px;">{{user.user_orders.count}}</small>
              <i class="p-0 fe fe-shopping-bag fe-32 align-self-center text-white"></i>
            </div>
            <p class="pt-3">Orders</p>
          </a>
        </div>
        {% else %}
        <p class="text-center h4 pt-5"> Oops ! <br> Seems You've <br> Not Login </p>
        {% endif %}
        
      </div>
      <div class="modal-footer">
        {% if user.is_authenticated %}
        <a href="#" type="button" class="btn btn-secondary btn-block">Reset Password</a>
        <a href="{% url 'logout' %}" type="button" class="btn btn-secondary btn-block">Log out</a>
        {% else %}
        <a href="{% url 'login' %}" type="button" class="btn btn-secondary btn-block">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% comment %} <div class="modal fade user-profile-modal modal-slide" tabindex="-1" role="dialog" aria-labelledby="user_profile_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="user_profile_modal">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <div class="row align-items-center">
          <div class="col-12 text-center">
            <div class="justify-content-center mb-3">
              <span class="avatar avatar-lg">
                <img src="{{user.profile.img.url}}" alt="..." class="avatar-img rounded-circle">
              </span>
            </div>
            <p class="h5">{{request.user}}</p>
            <span class="">{{user.email}}</span>
          </div>
        </div><hr>

        <div class="row align-items-center">
          <div class="col-12 text-center">
            <h6>Staff (Manager)</h6>
            <span>Staff ID: 902264</span><br>
            <small></small>
          </div>
        </div><hr>

        <div class="row align-items-center pt-4">
          <a href="{% url 'user_cart' %}" class="col-6 text-center page-link bg-transparent rounded">
            <div class="d-flex bg-primary justify-content-center p-3 m-auto" style="border-radius: 1em; width: 5em;">
              <small class="position-absolute text-white ml-3" style="top: 16px;">{{user_cart.count}}</small>
              <i class="p-0 fe fe-shopping-cart fe-32 align-self-center text-white"></i>
            </div>
            <p class="pt-3">Cart</p>
          </a>
          <a href="{% url 'user_orders' %}" class="col-6 text-center page-link bg-transparent rounded">
            <div class="d-flex bg-primary justify-content-center p-3 m-auto" style="border-radius: 1em; width: 5em;">
              <small class="position-absolute text-white ml-3" style="top: 14px;">{{user_orders.count}}</small>
              <i class="p-0 fe fe-shopping-bag fe-32 align-self-center text-white"></i>
            </div>
            <p class="pt-3">Orders</p>
          </a>
        </div>

        <div class="d-flex flex-column align-items-center fixed-bottom p-0">
          <a href="{% url 'admin:logout' %}" class="btn rounded text-center text-white bg-primary m-2 w-75">Log out</a>
          <a href="{% url 'admin:password_change' %}" class="btn rounded text-center text-white bg-primary m-2 w-75">Reset Password</a>
        </div>
        
      </div>
    </div>
  </div>
</div> {% endcomment %}